/* CSS declarations go here */


/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #FFFFCC;
  background-image: linear-gradient(to bottom, black, darkblue 100%);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10;
  margin: 0;
  font-size: 14px;
}

.container {
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
  padding: 10px;
  min-height: 100%;
  background: #fffcc;
}

div {
  position: absolute;
  padding: 1em;
  border: 1px solid #000
}

#nw {
  background: white; 
  top: 0%; 
  left: 0%; 
  right: 50%; 
  bottom: 50%
}

#ne {
  background: white; 
  top: 0%; 
  left: 50%; 
  right: 0%; 
  bottom: 50%
}

#sw {
  background: white; 
  top: 50%; 
  left: 0%; 
  right: 50%; 
  bottom: 0%;
}

#se {
background: white; 
top: 50%; 
left: 50%; 
right: 0%; 
bottom: 0%;
}

header {
  background: #d2edf4;
/*  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
  padding: 20px 15px 15px 15px;
  position: relative;
}

timeline {
  background: #d2edf4;
/*  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
  padding: 20px 15px 15px 15px;
  position: relative;
  bottom:0%;
  top:90%;
  width: 100%;
  display: inline-block;
}

timeline_event {
  background: gray;
  min-height: 100%;
  max-width: 30%;
  /* background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%); */
  padding: 10px 10px 10px 10px;
  position: left;
  display: inline-block;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 3em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

h1.title {
  margin: 0;
  background-color: #CCCCFF;
  padding: 15px;
  color: #996699;
  font-size: 2em;
  font-style: normal;
  font-family: Comic Sans MS, Tahoma, Verdana, sans-serif;
}

nav {
  display: block;
  width: 100%;
  border-bottom: 4px solid DarkSlateGrey;
  padding: 10px;
  padding-left: 20px;
  background-color: #3333cc;
  /*color: white;*/
  /*font-size: 1em;
  font-style: normal;*/
}

nav a{
text-decoration:none;
color: white;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

<style type="text/css">
.hightlightTxt {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.close {
    -moz-box-shadow:inset 0px 3px 24px -1px #fce2c1;
    -webkit-box-shadow:inset 0px 3px 24px -1px #fce2c1;
    box-shadow:inset 0px 3px 24px -1px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 10%, #fb9e25 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color:#ffc477;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0px;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#FF0000;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    font-style:normal;
    height:20px;
    line-height:20px;
    width:20px;
    /*text-decoration:3;*/
    text-align:center;   /*center x inside the box*/
   /* text-shadow:1px 1px 0px #FF0000;*/
   position: absolute;
   top:5px;
   right: 5px;

}
.close:hover {
   /* background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    */
    background-color:#fb9e25;
}.close:active {
     position:fixed;
     top: -100px;


}
.mini {
    -moz-box-shadow:inset 0px 3px 24px -1px #fce2c1;
    -webkit-box-shadow:inset 0px 3px 24px -1px #fce2c1;
    box-shadow:inset 0px 3px 24px -1px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 10%, #fb9e25 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color:#ffc477;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0px;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#FF0000;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    font-style:normal;
    height:20px;
    line-height:20px;
    width:20px;
    /*text-decoration:3;*/
    text-align:center;   /*center x inside the box*/
   /* text-shadow:1px 1px 0px #FF0000;*/
   position: absolute;
   top:5px;
   right: 30px;

}
.mini:hover {
   /* background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    */
    background-color:#fb9e25;
}.mini:active {
     position:fixed;
     top: -100px;
}

.maxi {
    -moz-box-shadow:inset 0px 3px 24px -1px #fce2c1;
    -webkit-box-shadow:inset 0px 3px 24px -1px #fce2c1;
    box-shadow:inset 0px 3px 24px -1px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 10%, #fb9e25 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color:#ffc477;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0px;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#FF0000;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    font-style:normal;
    height:20px;
    line-height:20px;
    width:20px;
    /*text-decoration:3;*/
    text-align:center;   /*center x inside the box*/
   /* text-shadow:1px 1px 0px #FF0000;*/
   position: absolute;
   top:5px;
   right: 55px;

}
.maxi:hover {
   /* background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    */
    background-color:#fb9e25;
}.maxi:active {
     position:fixed;
     top: -100px;
}
