/* CSS declarations go here */
/* The login menu has to be set at a specific height and I chose to center mine. */

#login-screen .dropdown-menu {
  display: block;
  position: relative;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

#login-screen #login-dropdown-list {
  display: block;
}

/* Hides the toggle that you click on */

#login-screen a.dropdown-toggle {
  display: none;
}





/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #FFFFCC;
/*
  background-image: linear-gradient(to bottom, black, darkblue 100%);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10;
  margin: 0;
  font-size: 14px;
*/
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  height: 64%;
  top: 20%;
  background: #fffcc;
}

/*div {
  position: absolute;
  padding: 1em;
  border: 1px solid #000;
}*/

#nw {
  background: white; 
  top: 20%; 
  left: 0%; 
  right: 50%; 
  bottom: 48%;
  height: 32%;
  width: 48%;
  position: absolute;
  padding: 10px;
  /*padding: 1em;*/
  /*margin: 5px;*/
  /*padding: 1em;*/
  border: 1px solid #000;
}

#ne {
  background: white; 
  top: 20%; 
  left: 50%; 
  right: 0%; 
  bottom: 48%;
  height: 32%;
  width: 48%;
  position: absolute;
  /*padding: 1em;*/
  padding: 10px;
  border: 1px solid #000;
}

#sw {
  background: white; 
  top: 52%; 
  left: 0%; 
  right: 50%; 
  bottom: 16%;
  height: 32%;
  width: 48%;
  position: absolute;
  /*padding: 1em;*/
  padding: 10px;
  border: 1px solid #000;
}

#se {
background: white; 
top: 52%; 
left: 50%; 
right: 0%; 
bottom: 16%;
  height: 32%;
  width: 48%;
  position: absolute;
  /*padding: 1em;*/
  padding: 10px;
  border: 1px solid #000;
}

#header {
  background: #d2edf4;
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 85%;
  top: 0%;
  right: 0%;
  left: 0%;
  border: 1px solid #000;
  padding: 5px;
  padding-left: 20px;
}

#timeline {
  background: #d2edf4;
/*  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
/*  padding: 5px 5px 5px 5px; */
  position: absolute;
  top: 85%;
  bottom:0%;
  left: 0%;
  right: 0%;
  height: 15%;
  width: 100%;
/*  display: inline-block; */
  border: 1px solid #000;
  padding: 5px;
}

timeline_event {
  background: gray;
  min-height: 100%;
  max-width: 30%;
  /* background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%); */
  padding: 10px 10px 10px 10px;
  position: left;
  display: inline-block;
}

/*#login-buttons {
  display: block;
}*/

h1 {
  font-size: 2em;
  /*margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;*/
}

h1.title {
  margin: 0;
  background-color: #CCCCFF;
  padding: 15px;
  color: #996699;
  font-size: 2em;
  font-style: normal;
  font-family: Comic Sans MS, Tahoma, Verdana, sans-serif;
}

#nav {
  display: block; 
  position: absolute;
  width: 100%;
  height: 5%;
  top: 15%;
  bottom: 80%;
  left:0%;
  right: 0%;
/*  border-bottom: 4px solid DarkSlateGrey;*/
  background-color: #3333cc;
  /*color: white;*/
  /*font-size: 1em;
  font-style: normal;*/
  padding: 3px;
  padding-left: 6px;
  border: 1px solid #000;
}

nav a{
text-decoration:none;
color: white;
}

a:visited{
color:white;
text-decoration: none;
}

/*form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}*/

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

/*
ul {
  margin: 0;
  padding: 0;
  background: white;
}*/

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

/*
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}*/

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}


